In [1]:
from daoWallet import WalletDAO

/opt/oracle/instantclient_19_20
entering parameters config
finished config for parameters
entering parameters config
finished config for parameters
entering parameters config
finished config for parameters
entering parameters config
finished config for parameters
entering parameters config
finished config for parameters
entering parameters config
finished config for parameters
starting
finished connection

In [2]:
data = WalletDAO()

#consultar todos los tipos de transaccoines
tipos = data.get_typeoftransactions()
#consultar el tipo de transacion con id 1
tipo = data.get_typeoftransactions(tpe_id = 1)

#consultar todos los usuarios
users = data.get_users()
#consultar el usuario con id
user = data.get_users(usr_id = 1)
#consultar todos los usuarios por nombre o apellido
users_by_name = data.get_users(usr_name = "abel")
#insertar un nuevo usuario
#user_insert = data.insert_user("abel4", "mamani4", "abel@gmail.com4", "pass4")
#actualizar un usuario
#user_update = data.update_user(15, "cain", "mamani2", "abel@gmail.com", "pass1")
#eliminar un usurio por id
#user_delete = data.delete_user(15)

#consultar todas la compañias
companies = data.get_companies()
#consultar una compañia por id
company = data.get_companies(cpn_id = 1)
#consultar todas las card de un user
user_cards = data.get_companies(usr_id = 1)

#consultart todos los contactos
contacts = data.get_contacts()
#consultar el contacto con id 
contact = data.get_contacts(con_id = 1)
#consultar todas los contactos de un user
user_contacts = data.get_contacts(usr_id = 1)

#consultar todas las transacciones
transactions = data.get_transactions()
#consultar la transaccion con id
transaction = data.get_transactions(tra_id  = 1)
#consultar todas las transacciones de un usuario
user_transactions = data.get_transactions(usr_id = 1)
#consultar todas las transacciones de un tipo de transaccion en especifico
type_transactions = data.get_transactions(tpe_id = 1)
#consultar todas las transacciones de un usuario y de un tipo de transaciont en especifico
user_and_type_transactions = data.get_transactions(usr_id = 1, tpe_id = 2)

In [3]:
tipos

[(1, 'CASH'), (2, 'CARD'), (3, 'INVOICE'), (4, 'TRANSFER')]

In [4]:
tipo

[(1, 'CASH')]

In [3]:
users

[(14, 'abel2', 'mamani2', 'abel@gmail.com2', 'pass2'),
 (16, 'abel4', 'mamani4', 'abel@gmail.com4', 'pass4'),
 (1, 'Abel', 'Mamani', 'abel@gmail.com', '1234567891'),
 (2, 'Cristina', 'Mamani', 'cristian@gmail.com', '1234567892'),
 (3, 'Julieta', 'Villagra', 'julieta@gmail.com', '1234567893'),
 (4, 'Daniela', 'Triador', 'daniela@gmail.com', '1234567894')]

In [15]:
users_by_name

[(4, 'Daniela', 'Triador', 'daniela@gmail.com', '1234567894')]

In [7]:
user

[(1, 'Abel', 'Mamani', 'abel@gmail.com', '1234567891')]

In [4]:
companies

[(1, 'ABEL MAMANI', '12345678911', 'Visa', 'api visa', datetime.datetime(2023, 10, 12, 19, 18, 8), 1),
 (2, 'ABEL MAMANI', '12345678912', 'Mastercard', 'api mastercard', datetime.datetime(2023, 10, 12, 19, 18, 8), 1),
 (3, 'CRISTIAN HUANCO', '12345678921', 'Visa', 'api visa', datetime.datetime(2023, 10, 12, 19, 18, 9), 2),
 (4, 'CRISTIAN HUANCO', '12345678922', 'Mastercard', 'api mastercard', datetime.datetime(2023, 10, 12, 19, 18, 9), 2),
 (5, 'JULIETA VILLAGRA', '12345678931', 'Visa', 'api visa', datetime.datetime(2023, 10, 12, 19, 18, 9), 3),
 (6, 'JULIETA VILLAGRA', '12345678932', 'Mastercard', 'api mastercard', datetime.datetime(2023, 10, 12, 19, 18, 10), 3),
 (7, 'DANIELA TRIADOR', '12345678941', 'Visa', 'api visa', datetime.datetime(2023, 10, 12, 19, 18, 10), 4),
 (8, 'DANIELA TRIADOR', '12345678942', 'Mastercard', 'api mastercard', datetime.datetime(2023, 10, 12, 19, 18, 10), 4)]

In [9]:
company

[(1, 'ABEL MAMANI', '12345678911', 'Visa', 'api visa', datetime.datetime(2023, 10, 12, 19, 18, 8), 1)]

In [10]:
user_cards

[(1, 'ABEL MAMANI', '12345678911', 'Visa', 'api visa', datetime.datetime(2023, 10, 12, 19, 18, 8), 1),
 (2, 'ABEL MAMANI', '12345678912', 'Mastercard', 'api mastercard', datetime.datetime(2023, 10, 12, 19, 18, 8), 1)]

In [11]:
contacts

[(1, 'contacto cristian', 'cristian@gmail.com', 1),
 (2, 'contacto juli', 'julieta@gmail.com', 1),
 (3, 'contacto abel', 'abel@gmail.com', 2),
 (4, 'contacto juli', 'julieta@gmail.com', 2),
 (5, 'contacto daniela', 'daniela@gmail.com', 3),
 (6, 'contacto juli', 'julieta@gmail.com', 4)]

In [12]:
contact

[(1, 'contacto cristian', 'cristian@gmail.com', 1)]

In [13]:
user_contacts

[(1, 'contacto cristian', 'cristian@gmail.com', 1),
 (2, 'contacto juli', 'julieta@gmail.com', 1)]

In [4]:
transactions

[(1, 1000, '+', datetime.datetime(2023, 10, 12, 19, 18, 39), 'RAPIPAGO', '12311', 1, 1, None),
 (2, 80, '+', datetime.datetime(2023, 10, 12, 19, 18, 39), 'VISA', '12312', 2, 1, 1),
 (3, 100, '-', datetime.datetime(2023, 10, 12, 19, 18, 39), 'CANTINA UNDEC', '12313', 3, 1, None),
 (4, 100, '-', datetime.datetime(2023, 10, 12, 19, 18, 39), 'cristian@gmail.com', '12314', 4, 1, None),
 (5, 2000, '+', datetime.datetime(2023, 10, 12, 19, 18, 40), 'PAGO FACIL', '123211', 1, 2, None),
 (6, 100, '-', datetime.datetime(2023, 10, 12, 19, 18, 40), 'MODATECH', '12313', 3, 2, None),
 (7, 100, '+', datetime.datetime(2023, 10, 12, 19, 18, 40), 'abel@gmail.com', '12314', 4, 2, None)]

In [5]:
transaction

[(1, 1000, '+', datetime.datetime(2023, 10, 12, 19, 18, 39), 'RAPIPAGO', '12311', 1, 1, None)]

In [3]:
user_transactions

[(1, 1000, '+', datetime.datetime(2023, 10, 12, 19, 18, 39), 'RAPIPAGO', '12311', 1, 1, None),
 (2, 80, '+', datetime.datetime(2023, 10, 12, 19, 18, 39), 'VISA', '12312', 2, 1, 1),
 (3, 100, '-', datetime.datetime(2023, 10, 12, 19, 18, 39), 'CANTINA UNDEC', '12313', 3, 1, None),
 (4, 100, '-', datetime.datetime(2023, 10, 12, 19, 18, 39), 'cristian@gmail.com', '12314', 4, 1, None)]

In [4]:
type_transactions

[(1, 1000, '+', datetime.datetime(2023, 10, 12, 19, 18, 39), 'RAPIPAGO', '12311', 1, 1, None),
 (5, 2000, '+', datetime.datetime(2023, 10, 12, 19, 18, 40), 'PAGO FACIL', '123211', 1, 2, None)]

In [5]:
user_and_type_transactions

[(1, 1000, '+', datetime.datetime(2023, 10, 12, 19, 18, 39), 'RAPIPAGO', '12311', 1, 1, None),
 (2, 80, '+', datetime.datetime(2023, 10, 12, 19, 18, 39), 'VISA', '12312', 2, 1, 1),
 (3, 100, '-', datetime.datetime(2023, 10, 12, 19, 18, 39), 'CANTINA UNDEC', '12313', 3, 1, None),
 (4, 100, '-', datetime.datetime(2023, 10, 12, 19, 18, 39), 'cristian@gmail.com', '12314', 4, 1, None)]

In [7]:
user_insert = data.insert_user("abel4", "mamani4", "abel@gmail.com4", "pass4")
after_insert_users = data.get_users()

In [8]:
after_insert_users

[(17, 'abel4', 'mamani4', 'abel@gmail.com4', 'pass4'),
 (14, 'abel2', 'mamani2', 'abel@gmail.com2', 'pass2'),
 (16, 'abel4', 'mamani4', 'abel@gmail.com4', 'pass4'),
 (1, 'Abel', 'Mamani', 'abel@gmail.com', '1234567891'),
 (2, 'Cristina', 'Mamani', 'cristian@gmail.com', '1234567892'),
 (3, 'Julieta', 'Villagra', 'julieta@gmail.com', '1234567893'),
 (4, 'Daniela', 'Triador', 'daniela@gmail.com', '1234567894')]

In [29]:
user_update = data.update_user(15, "cain", "mamani2", "abel@gmail.com", "pass1")
after_update_users = data.get_users()

In [30]:
after_update_users

[(14, 'abel2', 'mamani2', 'abel@gmail.com2', 'pass2'),
 (15, 'cain', 'mamani2', 'abel@gmail.com', 'pass1'),
 (16, 'abel4', 'mamani4', 'abel@gmail.com4', 'pass4'),
 (1, 'Abel', 'Mamani', 'abel@gmail.com', '1234567891'),
 (2, 'Cristina', 'Mamani', 'cristian@gmail.com', '1234567892'),
 (3, 'Julieta', 'Villagra', 'julieta@gmail.com', '1234567893'),
 (4, 'Daniela', 'Triador', 'daniela@gmail.com', '1234567894')]

In [33]:
user_delete = data.delete_user(15)
after_delete_users = data.get_users()

In [34]:

after_delete_users

[(14, 'abel2', 'mamani2', 'abel@gmail.com2', 'pass2'),
 (16, 'abel4', 'mamani4', 'abel@gmail.com4', 'pass4'),
 (1, 'Abel', 'Mamani', 'abel@gmail.com', '1234567891'),
 (2, 'Cristina', 'Mamani', 'cristian@gmail.com', '1234567892'),
 (3, 'Julieta', 'Villagra', 'julieta@gmail.com', '1234567893'),
 (4, 'Daniela', 'Triador', 'daniela@gmail.com', '1234567894')]